.table {
  border-collapse: collapse;
}

.tableWrapper {
  display: none;

  &_isVisible {
    display: block;
  }
}

.cell {
  border: 1px solid black;
  padding: 4px;

  &_url {
    min-width: 170px;
  }
}

.button {
  height: 30px;
  outline: none;
  border: 0;
  background: #109cf1;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-bottom: 15px;

  &:hover {
    background: #34aff9;
  }
}
